div.outer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

#sidebar {
  background-color: white;
  padding: 25px 100px 0px 50px;
  right: 0px;
  border: none;
  overflow-y:scroll;
  max-height: 90vh;
}